@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: Ubuntu-l;
    src: url("../fonts/Ubuntu-L.ttf");
}

@font-face {
    font-family: Ubuntu-m;
    src: url("../fonts/Ubuntu-M.ttf");
}

@font-face {
    font-family: Ubuntu-b;
    src: url("../fonts/Ubuntu-B.ttf");
}

:root {
    --bg1: #394648;
    --bg2: #3A7CA5;
    --bg3: #f0fdff;
    --element1: #3E2F5B;
    --element2: #007CC4;
    --fore: #F37748;
    --lines: #D8E4FF;
    --font-col: whitesmoke;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: Ubuntu-b;
}

h2 {
    font-family: Ubuntu-m;
}

h3 {
    font-family: Ubuntu;
}

h4, h5, h6 {
    font-family: Ubuntu-l;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: "lnav ctrl" "lnav nav" "lnav cont" "foot foot";
    grid-template-rows: [controls] 9vh [navs] 6vh [content] 78vh [footer] 7vh;
    grid-template-columns: [leftnav] 15vw [everything] 85vw;
}

/*----------------------Lnav Holder Starts--------------------*/
.lnav {
    grid-area: lnav;
    background-color: var(--bg1);
}

.logo {
    width: 100%;
    text-align: left;
    padding: 2vh 0 0 2vh;
}

.logo img {
    width: 12vw;
}

/*----------------------LNav Holder Ends--------------------*/

/*----------------------Control Holder Starts--------------------*/
.ctrl {
    grid-area: ctrl;
    background-color: var(--bg2);
}

/*----------------------Controls Holder Ends--------------------*/

/*----------------------Nav Holder Starts--------------------*/
.nav {
    grid-area: nav;
    background-color: var(--bg3);
    border-bottom: var(--white) 3px solid;
}

/*----------------------Nav Holder Ends--------------------*/

/*----------------------Content Box Holder Starts--------------------*/
.cont {
    grid-area: cont;
    background-color: var(--bg3);
    display: grid;
    grid-template-rows: 25vh 50vh;
}

.stat-container {
    grid-row: 1;
}

.box-container {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill,25vh);
    grid-gap: 1vw;
    padding-left: 1vw;
    /*overflow: scroll;*/
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    box-shadow: 3px 3px 20px lightslategray;
}

.box:hover {
    box-shadow: 3px 3px 60px lightslategray;
}

#plus {
    width: 25vh;
    height: 25vh;
    background-color: var(--bg3);
    border: var(--element1) 20px dashed;
    color: var(--element1);
    font-size: 8vh;
}
.ext {
    width: 25vh;
    height: 25vh;
    background-color: var(--fore);
    color: var(--font-col);
    padding: 2vh;
    display: grid;
    grid-template-rows: 20% 30% 30%;
}

/*----------------------Content Box Holder Ends--------------------*/
/*----------------------Footer Holder Starts--------------------*/
.foot {
    grid-area: foot;
    background-color: var(--bg1);
}

/*----------------------Footer Holder Ends--------------------*/

