@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: Ubuntu-l;
    src: url("../fonts/Ubuntu-L.ttf");
}

@font-face {
    font-family: Ubuntu-m;
    src: url("../fonts/Ubuntu-M.ttf");
}

@font-face {
    font-family: Ubuntu-b;
    src: url("../fonts/Ubuntu-B.ttf");
}

:root {
    --bg1: #394648;
    --bg2: #3A7CA5;
    --bg3: #f0fdff;
    --element1: #3E2F5B;
    --element2: #007CC4;
    --fore: #F37748;
    --lines: #D8E4FF;
    --font-col: whitesmoke;
    font-size: 1.6vh;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: Ubuntu-b;
}

h2 {
    font-family: Ubuntu-m;
}

h3 {
    font-family: Ubuntu;
}

h4, h5, h6 {
    font-family: Ubuntu-l;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: underline white;
}

body {
    display: grid;
    grid-template-areas: "lnav ctrl" "lnav nav" "lnav cont" "lnav foot";
    grid-template-rows: [controls] 9vh [navs] 6vh [content] 78vh [footer] 7vh;
    grid-template-columns: [leftnav] 15vw [everything] 85vw;
}

.blink {
    animation: blinker 1.8s ease-in-out infinite;
}

@keyframes blinker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/*----------------------Modal Holder Starts--------------------*/

.modal-cover{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 999;
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 100px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
.okmark{
    display: none;
    color: var(--green);
    overflow: hidden;
    width: 1em;
    height: 1em;
    margin: 100px 0 0 200px;
    position: relative;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*----------------------Modal Holder Ends--------------------*/

/*----------------------Lnav Holder Starts--------------------*/
.lnav {
    grid-area: lnav;
    background-color: var(--bg1);
    display: grid;
    grid-template-rows: 9vh 16vh 40vh;
}

.logo {
    width: 100%;
    text-align: left;
    padding: 2vh 0 0 2vh;
}

.logo img {
    width: 12vw;
}

.lnav_links {
    grid-row: 3;
}

.lnav_links ul {
    list-style: none;

}

.lnav_links ul li {
    color: white;
    font-family: Ubuntu;
    padding-bottom: 8vh;
}

.lnav_links ul li h2:active {
    color: var(--fore)
}

/*----------------------LNav Holder Ends--------------------*/

/*----------------------Control Holder Starts--------------------*/
.ctrl {
    grid-area: ctrl;
    text-align: right;
    background-color: var(--bg2);
    color: white;
}

/*----------------------Controls Holder Ends--------------------*/

/*----------------------Nav Holder Starts--------------------*/
.nav {
    grid-area: nav;
    background-color: var(--bg3);
    border-bottom: var(--element1) 3px solid;
}
.nav-expl{
    width: 100%;
    padding:1.5vh 0 0 1.5vw;
}
.nav-expl a{
    color: var(--fore);
    font-size: 2vh;
}

/*----------------------Nav Holder Ends--------------------*/

/*----------------------Content Box Holder Starts--------------------*/
.cont {
    grid-area: cont;
    background-color: var(--bg3);
    display: grid;
    grid-template-rows: 25vh 50vh;
}

.stat-container {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25vw);
    grid-gap: 3.5vw;
    padding: 2vh;
}

.stat {
    text-align: center;
    display: grid;
    grid-template-rows: 30% 20% 20% 30%;
}

.box-container {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25vh);
    grid-gap: 1vw;
    padding-left: 1vw;
    /*overflow: scroll;*/
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    box-shadow: 3px 3px 20px lightslategray;
}

.box:hover {
    box-shadow: 3px 3px 60px lightslategray;
}

#plus {
    width: 25vh;
    height: 25vh;
    background-color: var(--bg3);
    border: var(--element1) 20px dashed;
    color: var(--element1);
    font-size: 8vh;
}

.ext {
    cursor: pointer;
    width: 25vh;
    height: 25vh;
    background-color: var(--fore);
    color: var(--font-col);
    padding: 2vh;
    display: grid;
    overflow: hidden;
    word-wrap: break-word;
    grid-template-rows: 20% 30% 20% 10% 10%;
}

.details{
    padding: 2vh;
    overflow: hidden;
    word-wrap: break-word;
    grid-template-rows: repeat(auto-fill,minmax(10%,30%));
}

/*----------------------Content Box Holder Ends--------------------*/
/*----------------------Footer Holder Starts--------------------*/
.foot {
    grid-area: foot;
    background-color: var(--bg1);
}
.fa-heart{
    color: red;
}

/*----------------------Footer Holder Ends--------------------*/

